# **************************************************************************************
# *                                                                                    *
# *  DXP demo VM config file.                                                          *
# *  Written by : Gerben Kranenborg                                                    *
# *  Date : October 20, 2017                                                           *
# *                                                                                    *
# **************************************************************************************

VMVERSION="007"

IBPMHOSTNAME="interstagedemo"
FLOWHOSTNAME="flowabledemo"
REAHOSTNAME="reademo"

APPLICATION="REA"
TARGET_DIR="/opt"
ALFRESCO="false"
IBPMDB="postgresas"
RESETROOTPW="true"
ORACLEHTTP="8880"
ORACLELIST="1521"
ORACLEPWD="Fujitsu1"
ORACLESTART="y"
INSTALLIBPM="true"
INSTALLJBOSS="true"
JBOSSUSER="admin"
JBOSSPWD="Fujitsu.1"
REBOOTEND="true"
PGPASSWORD="Fujitsu1"
CLEARLOG="false"

VJDK8="151"
VELK="5.5.2"
VJBOSS="6.4"
VIBPM="11.4.1"
VALFRESCO="201707"
VNODE="6.11.4"
VAPACHE="8.5.23"
VPGDG="9.6.3"
VFLOWABLE="6.2.0"
VPPAS="9.5.0.5"
VORACLE="11.2.0"

export VMVERSION IBPMHOSTNAME FLOWHOSTNAME REAHOSTNAME APPLICATION TARGET_DIR ALFRESCO IBPMDB RESETROOTPW ORACLEHTTP ORACLELIST ORACLEPWD ORACLESTART INSTALLIBPM INSTALLJBOSS JBOSSUSER JBOSSPWD REBOOTEND PGPASSWORD CLEARLOG
export VJDK8 VJBOSS VIBPM VALFRESCO VNODE VAPACHE VPGDG VFLOWABLE VPPAS VORACLE VNGINX

# ********************************************************************************************************************
# *                                                                                                                  *
# * Note : All values above have to be enclosed in '"'. e.g.   "IBPM"                                                *
# *                                                                                                                  *
# *                                                                                                                  *
# * VMVERSION : This is the version number for the VM to be installed.                                               *
# *                                                                                                                  *
# * IBPMHOSTNAME : The hostname if APPLICATION = IBPM                                                                *
# * FLOWHOSTNAME : The hostname if APPLICATION = FLOWABLE                                                            *
# * REAHOSTNAME : The hostname if APPLICATION = REA                                                                  *
# *                                                                                                                  *
# * APPLICATION : The application to be installed. (IBPM / FLOWABLE / REA )                                          *
# * TARGET_DIR : This is the directory where all software will be installed                                          *
# * ALFRESCO : Indicates if Alfresco needs to be installed or not. ( true / false )                                  *
# * IBPMDB : DB to be installed for IBPM. ( postgresas / oracle )                                                    *
# * RESETROOTPW : Specify if you want the root password to be reset to Fujitsu1 ( true / false )                     *
# * ORACLEHTTP : Specify the port on which you want the Oracle Admin page to run                                     *
# * ORACLELIST : Specify the port on which you want the Oracle Listener to run                                       *
# * ORACLEPWD : Specify the password for the Oracle SYS and SYSTEM accounts                                          *
# * ORACLESTART : Specify if you want Oracle to start automatically as boot time ( y / n )                           *
# * JBOSSUSER : Specify the username of the JBoss admin user                                                         *
# * JBOSSPWD : Specify the password for the JBoss admin user                                                         *
# * REBOOTEND : Specify if the VM needs to be rebooted at the end of the installation ( true / false )               *
# * PGPASSWORD : Specify the password used for the PostgresAS user for the IBPM database                             *
# * CLEARLOG : Specify if you want the logs directory to be removed at the end of the installation. ( true / false ) *
# *                                                                                                                  *
# * VJDK8 : The version of the JDK8 install file located in the software folder                                      *
# * VELK : The version of the ELK stack files located in the software folder                                         *
# * VJBOSS : The version of the JBoss file located in the software folder                                            *
# * VIBPM : The version of the IBPM file located in the software folder                                              *
# * VALFRESCO : The version of the Alfresco file located in the software folder                                      *
# * VNODE : The version of the node file located in the software folder                                              *
# * VAPACHE : The version of the apache tomcat file located in the software folder                                   *
# * VPGDG : The version of the Postgress PGDG files located in the software folder                                   *
# * VPPAS : The version of the Postgres EDB file located in the software folder                                      *
# * VORACLE : The version of the Oracle XE file located in the software folder                                       *
# *                                                                                                                  *
# ********************************************************************************************************************